* {
    font-family: Verdana;
    box-sizing: border-box;
}

html,
body,
table {
    height: 100%;
    margin: 0;
}

.layout {
    min-height: 100%;
    min-width: 100%;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    color: white;
}

.header,
.footer {
    background-color: #8198FF;
    min-height: 90px;
}


.left-foot,
.left-head {
    width: 200px;
    height: 96px;
    padding-left: 20px;
}

.right-head>p {
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    max-width: 200px;
    padding-right: 20px;
}

.right-foot {
    height: 96px;
    padding: 20px;
}

.left-head>h1,
.right-foot>h1 {
    color: black;
    min-width: 150px;
    max-width: 600px;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    font-size: 30px;
    border: 1px solid black;
    background-color: white;
}

.left-head>h1 {
    margin-right: 120px;
}

.right-foot>h1 {
    float: right;
}

.left-side {
    background-color: darksalmon;
    vertical-align: top;
    max-width: 15%;
}

.left-side>p {
    padding: 5px 5px;
    margin: 0;
}

.right-side {
    vertical-align: top;
}

.navigate-list {
    height: 50px;
    background-color: lightseagreen;
}

.under-navigate-right {
    background-color: darksalmon;
    width: 10%;
    vertical-align: top;
    min-width: 200px;
    height: 100%;
}


.navigate-list>ul {
    float: left;
    margin: 0;
    padding: 0;
    max-height: 100%;
    list-style: none;
    justify-content: left;
    text-align: center;
}

.navigate-list li {
    display: inline;
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.under-navigate-left {
    vertical-align: top;
}

.main p {
    margin-top: 0px;
    padding: 5px 5px;
}